.datepick{
    border: 1px solid #e3e3e3;
						padding-bottom: 5px;
						padding-top: 5px;
						border-radius: 20px;
						background-color: #f7f7f7;
						box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}
ion-progress-bar{border-radius: 20px;
	height: 18px;}
	.progress_content{position: absolute;
		right: 0;
		top: -3px;
		left: 0;
		text-align: center;
		margin: 0 auto;
		z-index: 50;
		color:black;
	}

	.progress_container{
		position: relative;
	}

ion-card-header
{
	background-color:var(--light_gray_clr);
	padding-top:8px;
	padding-bottom: 8px;;
}
.mo_prog_row
{
	padding-top:10px;
	padding-bottom:10px;
	
	ion-label
	{
		font-weight: bold;
		color:black;
	}
	
}
.prog
{
	--background:#4caf50;
}

.home_button
{
    --background: #ffffff;
    --color: #2a2a2a;
    --background-hover: #fff;
	font-size: 14px;
	margin-left:15px;
}