<ion-header>
	<header>
		<div class="header">
			<div class="logo_div" routerLink="/admin-home">
				<img src="../../assets/images/logo.png" />
			</div>
		  	<h1 class="text_white text_center title">User Management</h1>
			<span class="logout_div">
				<div class="toggle_div">
					<button (click)="openFirst()">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</button>
				</div>
			</span>
		</div>
	</header>
	<ion-row class="align_center search_parent">
		<ion-col size="2">
			<ion-back-button defaultHref="admin-home"></ion-back-button>
		</ion-col>
		<ion-col size="2" offset="4">
			<ion-button size="small" color="light" (click)="searchCollapse()">
				<ion-icon name="search" class="font22"></ion-icon>
			</ion-button>
		</ion-col>
		<ion-col >
			<ion-button size="small" color="light" (click)="goToadd()"><ion-icon name="add" class="font22"></ion-icon></ion-button>
		</ion-col>
		<ion-col >
			<ion-button color="light" size="small" (click)="exportFile()">
				<ion-icon name="arrow-down"></ion-icon>
			</ion-button>
		</ion-col>
		<ion-col size="12" class="searchbar_container" *ngIf="searchShow">
			<ion-searchbar type="text" debounce="500" (ionInput)="getItems($event)" placeholder="Login Id" showCancelButton="always" (ionCancel)="hideSearchBar()"></ion-searchbar>
			<ion-row *ngIf="isItemAvailable">
				<ion-col>
					<div class="my_table_container">
						<table class="my_table">
							<tbody>
								<tr (click)="goToUpdate(item)" *ngFor="let item of items; let i = index">
									<td>{{i+1}}</td>
									<td>{{item.LoginId}}</td>
									<td>{{item.EmpCode}}</td>
									<td>{{item.Name}}</td>
									<td>{{item.DepartmentCode}}</td>
									<td>{{item.Status}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</ion-col>
			</ion-row>
		</ion-col>
	</ion-row>
</ion-header>
  
<ion-content>
    <ion-grid>
		<ion-row>
			<ion-col size="12">
				<ion-segment class="status_bar" value="All" (ionChange)="segmentChanged($event)">
					<ion-segment-button value="Active">
					  <ion-label>Active</ion-label>
					</ion-segment-button>
					<ion-segment-button value="All">
					  <ion-label>All</ion-label>
					</ion-segment-button>
					<ion-segment-button value="InActive">
						<ion-label>InActive</ion-label>
					</ion-segment-button>
				</ion-segment>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<div class="my_table_container">
					<table class="my_table">
						<thead>
							<tr>
								<th>Sr No</th>
								<th>Login Id</th>
								<th>Emp Code</th>
								<th>Name</th>
								<th>Permission</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr (click)="goToUpdate(itm)" *ngFor="let itm of getListRes; let i=index">
								<td>{{i+1}}</td>
								<td>{{itm.LoginId}}</td>
								<td>{{itm.EmpCode}}</td>
								<td>{{itm.Name}}</td>
								<td>{{itm.DepartmentCode}}</td>
								<td>{{itm.Status}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</ion-col>
		</ion-row>
    </ion-grid>
</ion-content>
  