<div class="attch_container">
	<div class="trigger_div">Update Password <ion-icon name="close" (click)="dismiss()"></ion-icon>
	</div>
	<div class="content_div">
		<ion-grid>
			<ion-row>
				<ion-col class="inp_group">
					<ion-label>OTP</ion-label>
					<ion-input class="inp_control" [(ngModel)]="StationOTP"></ion-input>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col class="inp_group">
					<ion-label>New Password</ion-label>
					<ion-input class="inp_control" [(ngModel)]="StationPassword"></ion-input>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col class="inp_group">
					<ion-label>Confirm Password</ion-label>
					<ion-input class="inp_control" [(ngModel)]="StationCPassword"></ion-input>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col class="inp_group">
					<ion-button size="small" (click)="UpdatePassword()">Update</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</div>