.inp_group
{
    margin-bottom: 0px;
}
.inp_control 
{
    height: 35px;
}
ion-button
{
    --background:var(--green_clr);
    --background-hover:var(--dark_green_clr);
}

.attch_container
{
    background: white;
    width: 90%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
}
.attch_container .trigger_div 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #f1f1f1;
}
.attc_head
{
    font-size: 18px;
    text-align: center;
}
.attachment_cont
{
    text-align: center;
    margin-top: 4px;
    width: 80px;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}