.inp_group
{
    margin-top:15px;

    label
    {
        margin-left: 20px;
        margin-bottom: 5px;
        display: block;
    }
    .inp_control
    {
        border-radius: 30px;
        padding-left:11px!important;
    }
}
.msg
{
    i
    {
        margin-right:4px;
        padding-top: 3px;;
    }
    ion-text
    {
        line-height: 17px;
        font-size: 15px;
        color: #7a7a7a;
    }
}
.button_container > ion-button 
{
    
    border-radius: 30px;
    --box-shadow:none;
}

